# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
/auto-save-list/
/desktop/*
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/*

# everything under elpa packages
elpa/**

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

.rvmrc
/TAGS
/.python-environments/
.smex-items
ac-comphist.dat
/backups/
/emacs-backup/
/lisp/
places
tramp
/url/
/xkcd/
/var/
projectile*
ido.last

